<div class="row pl-5">
<h3 class="mt-2">Host Meeting</h3>
</div>
<hr>

<div class="row pl-5">
<div class="col-md-3">
    
    </div>
<div class="col-md-8">
    <h4>All Meetings: <%= user.name %></h4>
    <hr>
    <div class="col-md-12 pl-0 table-responsive">
       
    </div>
    
</div>
</div>