<div class="row pl-5">
<h3 class="mt-2">Profile</h3>
</div>
<hr>

<div class="row pl-5">
    <div class="col-md-12">
        <p>Name: <%= user.name %></p>
    </div>
    <div class="col-md-12">
        <p>Email: <%= user.email %></p>
    </div>
</div>